mat-drawer-content {
    max-width: 1024px;
    min-height: 100%;
    margin: auto;
    padding: 3em;
}

mat-form-field {
    max-width: 1024px;
    width: 100%;
    font-size: 14px;
}

.filter_section {
    display: block;
}