<app-topbar></app-topbar>
<div class="container">
  <router-outlet></router-outlet>
  <mat-form-field>
    <input matInput (keyup)="sendFilter($event.target.value)" matInput (click)="sendFilter($event.target.value)"
     placeholder="Search" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>

  <section class="filter_section">
    <mat-slide-toggle [(ngModel)]="checkboxs[0]" [(ngModel)]="disabled" id="all" (change)="displayTable('all')"> Display All </mat-slide-toggle>
    <mat-checkbox [(ngModel)]="checkboxs[1]" [disabled]="disabled" id="c1" (change)="displayTable('c1')"> Display ATS 1 </mat-checkbox>
    <mat-checkbox [(ngModel)]="checkboxs[2]" [disabled]="disabled" id="c2" (change)="displayTable('c2')"> Display ATS 2 </mat-checkbox>
    <mat-checkbox [(ngModel)]="checkboxs[3]" [disabled]="disabled" id="c3" (change)="displayTable('c3')"> Display ATS 3 </mat-checkbox>
    <mat-checkbox [(ngModel)]="checkboxs[4]" [disabled]="disabled" id="c4" (change)="displayTable('c4')"> Display ATS 4 </mat-checkbox>
    <mat-checkbox [(ngModel)]="checkboxs[5]" [disabled]="disabled" id="c5" (change)="displayTable('c5')"> Display ATS 5 </mat-checkbox>
    <mat-checkbox [(ngModel)]="checkboxs[6]" [disabled]="disabled" id="c6" (change)="displayTable('c6')"> Uncategorised </mat-checkbox>
  </section>

  <app-table id="d1" style="display:block" [title]="'ATS 1'" [patients]="ats[1]" [filter]="filter"></app-table>
  <app-table id="d2" style="display:block" [title]="'ATS 2'" [patients]="ats[2]" [filter]="filter"></app-table>
  <app-table id="d3" style="display:block" [title]="'ATS 3'" [patients]="ats[3]" [filter]="filter"></app-table>
  <app-table id="d4" style="display:block" [title]="'ATS 4'" [patients]="ats[4]" [filter]="filter"></app-table>
  <app-table id="d5" style="display:block" [title]="'ATS 5'" [patients]="ats[5]" [filter]="filter"></app-table>
  <app-table id="d6" style="display:block" [title]="'Uncategorised'" [patients]="ats[6]" [filter]="filter"></app-table>
</div>