.container {
    max-width: 1024px;
    min-height: 100%;
    margin: auto;
    padding: 3em;
}

mat-form-field {
    max-width: 1024px;
    width: 100%;
    font-size: 14px;
}

.unseen {
    display: none;
}

.one_per_row { 
    float:left;
    display:table-column;
    width:100%;
 }

.style-button {
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: #002664;
    padding: 5px 15px;
}