.manual-loc-example {
    display: flex;
}

.mat-slider {
    align-content: center;
    flex: 8;
    margin: 5px;
}

.loc-example {
    margin-top: 25px;
}

table {
    width: 100%;
}

.make-yellow {
    background-color: yellow

}

.make-red {
    background-color: red
}