.manual-loc-example {
    display: flex;
}

.mat-slider {
    align-content: center;
    flex: 8;
    margin: 5px;
}

.loc-example {
    margin-top: 25px;
}

.loc-slider-value {
    flex: 2;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

table {
    width: 100%;
    margin: 10px;
}