.detail-container {
    padding: 24px;
}
.manual-clinical-override {
    display: flex;
    background-color: transparent;
}

.title {
    font-weight: 600;
}

.manual-loc-example {
    display: flex;
}

.mat-slider {
    align-content: center;
    flex: 8;
    margin: 5px;
}

.loc-example {
    margin-top: 25px;
}

table {
    width: 100%;
}

.spacer {
    padding-top: 25px;
}

h2 {
    text-align: center;
}

svg {
    vertical-align: bottom;
}

.mat-column-Test {
    width: 30%;
}

.mat-column-Time {
    width: 25%;
}