.detail-container {
    padding: 24px;
}
.manual-clinical-override {
    display: flex;
    background-color: transparent;
}

.title {
    font-weight: 600;
    padding: 15px 0px;
}

.manual-loc-example {
    display: flex;
}

.suspect-container {
    margin: 20px 0 0 20px;
}

mat-icon {
    width: 18px;
    font-size: 18px;
    height: 18px;
    vertical-align: -3px;
}

.caution-icon {
    color: #feb24c;
}

.warning-icon {
    color: #f03b20;
}

.eye-icon {
    color: rgb(0, 110, 255);
}
@media screen and (max-width: 766px) {
    .mat-column-Time {
        display: none;
    }
    .mat-column-Lower-Interval {
        display: none;
    }
    .mat-column-Upper-Interval {
        display: none;
    }
}

.mat-column-Value, .mat-column-Upper-Interval, .mat-column-Lower-Interval {
    padding-left: 10px;
}

.mat-slider {
    align-content: center;
    flex: 8;
    margin: 5px;
}

.loc-example {
    margin-top: 25px;
}

table {
    width: 100%;
}

.spacer {
    padding-top: 25px;
}

h2 {
    text-align: center;
}

svg {
    vertical-align: bottom;
}

.mat-column-Test {
    width: 30%;
}

.mat-column-Time {
    width: 25%;
}

.orange-background {
    background-color: coral;
}

.red-backgound {
    background-color: red;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}