.manual-clinical-override {
    display: flex;
    background-color: transparent;
}

.manual-loc-example {
    display: flex;
}

.mat-slider {
    align-content: center;
    flex: 8;
    margin: 5px;
}

.loc-example {
    margin-top: 25px;
}

table {
    width: 100%;
}

.make-yellow {
    background-color: #ffff8d;

}

.make-red {
    background-color: #ffa7a7;
}