<div class="detail-container">
    <ng-container *ngIf="patient.hasOwnProperty('Vitals')">
        <div class="title">Vitals</div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let testIndex of vitalsTimes" class="mat-elevation-z0 light-grey">
                <mat-expansion-panel-header>
                    <mat-panel-title class="title">{{ vitalsTests[testIndex][0]['time'] }}</mat-panel-title>
                    <mat-panel-description class="description">{{ patient['First Name'] + ' has ' + countOutOfRange(vitalsTests[testIndex]) }} {{ countOutOfRange(vitalsTests[testIndex]) == 1 ? 'value' : 'values' }} out of range</mat-panel-description>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="vitalSources[testIndex]">
                    <ng-container matColumnDef="Test">
                        <th mat-header-cell *matHeaderCellDef> Test </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element['test'] }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Lower Interval">
                        <th mat-header-cell *matHeaderCellDef> Lower Interval </th>
                        <td mat-cell *matCellDef="let element">
                            {{ranges.hasOwnProperty(element['test']) ? ranges[element['test']]['lower'] : '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Value">
                        <th mat-header-cell *matHeaderCellDef> Value </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="ranges.hasOwnProperty(element['test'])">
                                <ng-container
                                    *ngIf="element['value'] < ranges[element['test']]['lowab'] || element['value'] > ranges[element['test']]['uppab']; else elseTemplate">
                                        <mat-icon class="warning-icon">warning</mat-icon>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <ng-container
                                        *ngIf="element['value'] < ranges[element['test']]['lower'] || element['value'] > ranges[element['test']]['upper']">
                                        <mat-icon class="caution-icon">error</mat-icon>
                                    </ng-container>
                                </ng-template>
                            </ng-container>
                            {{element['value']}} {{ranges.hasOwnProperty(element['test']) ? ranges[element['test']]['units'] : ''}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Upper Interval">
                        <th mat-header-cell *matHeaderCellDef> Upper Interval </th>
                        <td mat-cell *matCellDef="let element">
                            {{ranges.hasOwnProperty(element['test']) ? ranges[element['test']]['upper'] : '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Time">
                        <th mat-header-cell *matHeaderCellDef> Time </th>
                        <td mat-cell *matCellDef="let element">
                            {{element['time']}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
        <!-- bloodgas -->
    <ng-container *ngIf="patient.hasOwnProperty('Bloodgas')">
        <div class="title">Bloodgas</div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let testIndex of bloodgasTimes" class="mat-elevation-z0 light-grey">
                <mat-expansion-panel-header>
                    <mat-panel-title class="title">{{ bloodgasTests[testIndex][0]['time'] }}</mat-panel-title>
                    <mat-panel-description class="description">{{ patient['First Name'] + ' has ' + countOutOfRange(bloodgasTests[testIndex]) }} {{ countOutOfRange(bloodgasTests[testIndex]) == 1 ? 'value' : 'values' }} out of range</mat-panel-description>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="bgSources[testIndex]">
                    <ng-container matColumnDef="Test">
                        <th mat-header-cell *matHeaderCellDef> Test </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element['test'] }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Lower Interval">
                        <th mat-header-cell *matHeaderCellDef> Lower Interval </th>
                        <td mat-cell *matCellDef="let element">
                            {{ranges.hasOwnProperty(element['test']) ? ranges[element['test']]['lower'] : '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Value">
                        <th mat-header-cell *matHeaderCellDef> Value </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="ranges.hasOwnProperty(element['test'])">
                                <ng-container
                                    *ngIf="element['value'] < ranges[element['test']]['lowab'] || element['value'] > ranges[element['test']]['uppab']; else elseTemplate">
                                        <mat-icon class="warning-icon">warning</mat-icon>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <ng-container
                                        *ngIf="element['value'] < ranges[element['test']]['lower'] || element['value'] > ranges[element['test']]['upper']">
                                        <mat-icon class="caution-icon">error</mat-icon>
                                    </ng-container>
                                </ng-template>
                            </ng-container>
                            {{element['value']}} {{ranges.hasOwnProperty(element['test']) ? ranges[element['test']]['units'] : ''}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Upper Interval">
                        <th mat-header-cell *matHeaderCellDef> Upper Interval </th>
                        <td mat-cell *matCellDef="let element">
                            {{ranges.hasOwnProperty(element['test']) ? ranges[element['test']]['upper'] : '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Time">
                        <th mat-header-cell *matHeaderCellDef> Time </th>
                        <td mat-cell *matCellDef="let element">
                            {{element['time']}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
</div>