mat-form-field {
  min-width: 545px;
}

.mat-table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.expandable:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.expandable:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-header-cell {
    padding-left: 10px;
  }

  .mat-cell {
    padding-left: 10px;
  }


  .title {
    font-weight: normal;
    font-size: large;
    padding-bottom: 15px;
  }

  .ats1 {
    background-color: #ffa7a7;
  }
  
  .ats2 {
    background-color: #ffdca7;
  }
  
  .ats3 {
    background-color: #e5ffa7;
  }
  
  .ats4 {
    background-color: #a7ffff;
  }
  
  .ats5 {
    background-color: #b9a7ff;
  }
  
  .ats1_p {
    background-color: #ffa7a73d;
  }
  .ats2_p {
    background-color: #ffdca73d;
  }
  
  .ats3_p {
    background-color: #e5ffa73d;
  }
  
  .ats4_p {
    background-color: #a7ffff3d;
  }
  
  .ats5_p {
    background-color: #b9a7ff3d;
  }