.mat-table {
    width: 100%;
  }

  @media screen and (min-width: 812px) {
    .mat-column-Name {
      width: 20%;
    }
  }

  .input-field {
    width: 35px;
  }

  tr.example-detail-row {
    height: 0;
  }

  .seen {
    display: none;
  }

  .seenBG {
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 2px;
  }

  @media screen and (max-width: 766px) {
    .mat-column-Registration {
      display: none;
    }
    .mat-column-Vitals {
      display: none;
    }
    .mat-column-BG {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .mat-column-MRN {
      display: none;
    }
  }

  @media screen and (min-width: 1367px) {
  tr.expandable:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
}
  
  tr.expandable:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-header-cell {
    padding-left: 10px;
  }

  .mat-cell {
    padding-left: 10px;
  }

  .title {
    font-weight: normal;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    align-items: center;
  }

  .container {
    padding-bottom: 20px;
  }

  svg {
    margin-right: 5px;
    margin-bottom: 4px;
  }

  .ats1 {
    fill: #e53935;
  }
  
  .ats2 {
    fill: #e53935;
  }
  
  .ats3 {
    fill: #fb8c00;
  }
  
  .ats4 {
    fill: #002664;
  }
  
  .ats5 {
    fill: #43a047;
  }

  .delta {
    min-width: 100px;
  }

  .delta-data {
    float: left;
    position: relative;
    top: 6px;
  }

  .delta-indicator {
    float: right;
  }

  ::ng-deep .red-snackbar {
    color: white;
    background: rgb(255, 78, 78);
  }