 <div class="container" [style.display]="this.filter.length > 0 ? (this.dataSource.filteredData.length == 0 ? 'none' : 'block') : 'block'">
     
<div class="title">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path [ngClass]="{'ats1': atsNo == 1, 'ats2': atsNo == 2, 'ats3': atsNo == 3, 'ats4': atsNo == 4, 'ats5': atsNo == 5}"
            d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z" />
    </svg>
    {{ title }}
</div>

<table mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort
    class="example-container mat-elevation-z8">
    <!-- columns -->
    <ng-container matColumnDef="ATS">
        <th mat-header-cell *matHeaderCellDef> ATS </th>
        <td mat-cell *matCellDef="let patient"> {{ patient['ATS'] }} </td>
    </ng-container>
    <ng-container matColumnDef="Seen">
        <th mat-header-cell *matHeaderCellDef> Seen </th>
        <td mat-cell *matCellDef="let patient">
            <mat-checkbox color="primary"
                (click)="$event.stopPropagation();"
                (change)="patient.hasOwnProperty('seen') ? patient['seen'] = !patient['seen'] : patient['seen'] = true; undoSeen(patient);"
                [checked]="patient['seen']">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="MRN">
        <th mat-header-cell *matHeaderCellDef> MRN </th>
        <td mat-cell *matCellDef="let patient"> {{ patient['MRN'] }} </td>
    </ng-container>
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Last Name"> Name </th>
        <!-- <td mat-cell *matCellDef="let patient"> {{ patient['Last Name'] + ', ' + patient['First Name'] }} </td> -->
        <td mat-cell *matCellDef="let patient"> {{ patient['Fullname'] }} </td>
    </ng-container>
    <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let patient"> {{ patient['DOB'] }} </td>
    </ng-container>
    <ng-container matColumnDef="LOC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="LOC"> LOC </th>
        <td mat-cell *matCellDef="let patient; let i = renderIndex"> 
            <mat-form-field class="input-field" (change)="onLOCChange($event.srcElement.value, patient, i)" (click)="onLOCChange($event.srcElement.value, patient, i)" (click)="$event.stopPropagation()" >
                <input #loc matInput type="number" value="15" min="1" max="15" [formControl]="patient['locValue']" required>
                 <mat-error *ngIf="patient['locValue'].invalid">
                    {{ getErrorMessage(patient) }}
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="Vitals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Vitals"> Vitals </th>
        <td mat-cell *matCellDef="let patient">
            <ng-container *ngIf="patient.hasOwnProperty('Vitals'); else elseTemplate">
                <!-- done -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" /></svg>
            </ng-container>
            <ng-template #elseTemplate>
                <!-- cross -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                    <path d="M0 0h24v24H0z" fill="none" /></svg>
            </ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="BG">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Bloodgas"> Bloodgas </th>
        <td mat-cell *matCellDef="let patient">
            <ng-container
                *ngIf="patient.hasOwnProperty('Bloodgas') && patient.hasOwnProperty('Vitals'); else elseTemplate">
                <!-- doneall -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z" />
                </svg>
            </ng-container>
            <ng-template #elseTemplate>
                <ng-container *ngIf="patient.hasOwnProperty('Bloodgas'); else elseTemplate">
                    <!-- done bloodgas -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" /></svg>
                </ng-container>
                <ng-template #elseTemplate>
                    <!-- cross -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                        <path d="M0 0h24v24H0z" fill="none" /></svg>
                </ng-template>

            </ng-template>

        </td>
    </ng-container>
    <ng-container matColumnDef="Registration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration </th>
        <td mat-cell *matCellDef="let patient"> {{ patient['Registration'] }} </td>
    </ng-container>

    <ng-container matColumnDef="Delta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Registration"> Δ Waiting Time </th>
        <td mat-cell *matCellDef="let patient">
            <ng-container *ngIf="!patient['seen']; else elseTemplate">
                <div class="delta">
                    <div class="delta-data">
                        {{ patient['seen'] ? patient['Registration'] = currentTime : formatWaitTime(patient) }}
                    </div>
                    <div class="delta-indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path [style.fill]="getWaitColor(patient)" d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <span>Patient has been seen</span>
            </ng-template>
        </td>
    </ng-container>

    <!-- expanded detail -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let patient" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="patient == expandedElement ? 'expanded' : 'collapsed'">
                <app-detail [patient]="patient"></app-detail>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let patient; columns: displayedColumns;" class="example-element-row"
        [class.expanded-row]="expandedElement === patient"
        [class.expandable]="patient.hasOwnProperty('Vitals') || patient.hasOwnProperty('Bloodgas')"
        [class.seen]="patient['seen'] && this.filter.length <= 0"
        (click)="expandedElement = expandedElement === patient ? null : (patient.hasOwnProperty('Vitals') || patient.hasOwnProperty('Bloodgas') ? patient : expandedElement)">
    </tr>
    <tr mat-row *matRowDef="let patient; let row; columns: ['expandedDetail']" class="example-detail-row"
        [class.seen]="patient['seen'] && this.filter.length <= 0">
</tr>

</table>
</div>
