.mat-table {
    width: 100%;
  }

  @media screen and (min-width: 812px) {
    .mat-column-Name {
      width: 20%;
    }
  }

  .input-field {
    width: 50px;
  }

  tr.example-detail-row {
    height: 0;
  }

  .clickable {
    cursor: pointer;
  }

  .seen {
    display: none;
  }

  .display {
    display: none;
  }

  .no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  mat-icon {
    vertical-align: -4px;
    font-size: 20px;
    width: 20px;
    height: 20px;
  }

  .input-field {
    text-align: center;
  }

  .warning-icon {
    color: #f03b20;
  }

  .caution-icon {
    color: #feb24c;
  }
  .eye-icon {
    color: rgb(0, 69, 158);
  }
  
.good-icon {
    color: #31a354;
  }
  .highlight {
    background-color: whitesmoke;
    color: grey;
    border-radius: 35px;
    width: fit-content;
    height: fit-content;
    padding: 2px 6px 2px 3px;
  }

  @media screen and (max-width: 766px) {
    .mat-column-Registration {
      display: none;
    }
    .mat-column-Vitals {
      display: none;
    }
    .mat-column-BG {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .mat-column-MRN {
      display: none;
    }
  }

  @media screen and (min-width: 1367px) {
  tr.expandable:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
}
  
  tr.expandable:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mat-header-cell {
    padding-left: 10px;
  }

  .mat-cell {
    padding-left: 10px;
  }

  .title {
    font-weight: normal;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    align-items: center;
  }

  .container {
    padding-bottom: 20px;
  }

  svg {
    margin-right: 5px;
    margin-bottom: 4px;
  }

  .ats1 {
    fill: #e53935;
  }
  
  .ats2 {
    fill: #e53935;
  }
  
  .ats3 {
    fill: #fb8c00;
  }
  
  .ats4 {
    fill: #002664;
  }
  
  .ats5 {
    fill: #43a047;
  }

  .atsBorder {
    border-left: 7px solid whitesmoke;
  }

.ats1Border {
    border-left-color: #e53935;
  }
  
  /* .ats2Border {
    border-left-color: #e53935;
  } */
  
  .ats3Border {
    border-left-color: #fb8c00;
  }
  
  /* .ats4Border {
    border-left-color: #002664;
  } */
  
  .ats5Border {
    border-left-color: #43a047;
  } 

  .highlight-row{
    background: rgb(253, 255, 146); /* light yellow */
  }
  ::ng-deep .patient-waiting-snack-bar {
    color: black !important;
    background-color: rgb(255, 255, 255);    
  }
  
  ::ng-deep .red-snackbar {
    color: white;
    background: rgb(255, 78, 78);
  }
